* {
	padding: 0;
	margin: 0;
}

.bg-white-light {
	background-color: #E1E9EE;
}

.ocultar {
	display: none;
}

.delete {
    border-color: #381fc500;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-image: url('../Icon/eliminar.png') ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24303c00;
}

.edit {
    border-color: #381fc500;
    width: 30px;
    height: 30px;
    object-fit: contain;
    background-image: url('../Icon/editar.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #24303c00;
}